In [41]:
import pandas as pd

df = pd.read_csv('flightdata_edit.csv')
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
0,2016,1,1,1,5,DL,N836DN,1399,10397,ATL,...,2143,2102.0,-41.0,0.0,0.0,0.0,338.0,295.0,2182.0,NaN
1,2016,1,1,1,5,DL,N964DN,1476,11433,DTW,...,1435,1439.0,4.0,0.0,0.0,0.0,110.0,115.0,528.0,NaN
2,2016,1,1,1,5,DL,N813DN,1597,10397,ATL,...,1215,1142.0,-33.0,0.0,0.0,0.0,335.0,300.0,2182.0,NaN
3,2016,1,1,1,5,DL,N587NW,1768,14747,SEA,...,1335,1345.0,10.0,0.0,0.0,0.0,196.0,205.0,1399.0,NaN
4,2016,1,1,1,5,DL,N836DN,1823,14747,SEA,...,607,615.0,8.0,0.0,0.0,0.0,247.0,259.0,1927.0,NaN

In [42]:
df.isnull

<bound method DataFrame.isnull of        YEAR  QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK UNIQUE_CARRIER  \
0      2016        1      1             1            5             DL
1      2016        1      1             1            5             DL
2      2016        1      1             1            5             DL
3      2016        1      1             1            5             DL
4      2016        1      1             1            5             DL
...     ...      ...    ...           ...          ...            ...
11226  2016        4     12            30            5             DL
11227  2016        4     12            30            5             DL
11228  2016        4     12            30            5             DL
11229  2016        4     12            30            5             DL
11230  2016        4     12            30            5             DL

      TAIL_NUM  FL_NUM  ORIGIN_AIRPORT_ID ORIGIN  ...  CRS_ARR_TIME ARR_TIME  \
0       N836DN    1399              10397    ATL  ...          2143   2102.0
1       N964DN    1476              11433    DTW  ...          1435   1439.0
2       N813DN    1597              10397    ATL  ...          1215   1142.0
3       N587NW    1768              14747    SEA  ...          1335   1345.0
4       N836DN    1823              14747    SEA  ...           607    615.0
...        ...     ...                ...    ...  ...           ...      ...
11226   N940DL    1715              11433    DTW  ...          1223   1148.0
11227   N836DN    1770              14747    SEA  ...          2046   2100.0
11228   N583NW    1823              11433    DTW  ...          2210   2154.0
11229   N554NW    1901              10397    ATL  ...          1806   1801.0
11230   N843DN    2005              10397    ATL  ...           925    913.0

       ARR_DELAY  ARR_DEL15  CANCELLED  DIVERTED  CRS_ELAPSED_TIME  \
0          -41.0        0.0        0.0       0.0             338.0
1            4.0        0.0        0.0       0.0             110.0
2          -33.0        0.0        0.0       0.0             335.0
3           10.0        0.0        0.0       0.0             196.0
4            8.0        0.0        0.0       0.0             247.0
...          ...        ...        ...       ...               ...
11226      -35.0        0.0        0.0       0.0             138.0
11227       14.0        0.0        0.0       0.0             201.0
11228      -16.0        0.0        0.0       0.0             311.0
11229       -5.0        0.0        0.0       0.0             336.0
11230      -12.0        0.0        0.0       0.0             120.0

       ACTUAL_ELAPSED_TIME  DISTANCE  Unnamed: 25
0                    295.0    2182.0          NaN
1                    115.0     528.0          NaN
2                    300.0    2182.0          NaN
3                    205.0    1399.0          NaN
4                    259.0    1927.0          NaN
...                    ...       ...          ...
11226                105.0     594.0          NaN
11227                181.0    1399.0          NaN
11228                295.0    1927.0          NaN
11229                332.0    2182.0          NaN
11230                110.0     594.0          NaN

[11231 rows x 26 columns]>

In [43]:
df.isnull().sum()

YEAR                       0
QUARTER                    0
MONTH                      0
DAY_OF_MONTH               0
DAY_OF_WEEK                0
UNIQUE_CARRIER             0
TAIL_NUM                   0
FL_NUM                     0
ORIGIN_AIRPORT_ID          0
ORIGIN                     0
DEST_AIRPORT_ID            0
DEST                       0
CRS_DEP_TIME               0
DEP_TIME                 107
DEP_DELAY                107
DEP_DEL15                107
CRS_ARR_TIME               0
ARR_TIME                 115
ARR_DELAY                188
ARR_DEL15                188
CANCELLED                  0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ACTUAL_ELAPSED_TIME      188
DISTANCE                   0
Unnamed: 25            11231
dtype: int64

In [44]:
df = df.drop('Unnamed: 25', axis =1)
df.isnull().sum()

YEAR                     0
QUARTER                  0
MONTH                    0
DAY_OF_MONTH             0
DAY_OF_WEEK              0
UNIQUE_CARRIER           0
TAIL_NUM                 0
FL_NUM                   0
ORIGIN_AIRPORT_ID        0
ORIGIN                   0
DEST_AIRPORT_ID          0
DEST                     0
CRS_DEP_TIME             0
DEP_TIME               107
DEP_DELAY              107
DEP_DEL15              107
CRS_ARR_TIME             0
ARR_TIME               115
ARR_DELAY              188
ARR_DEL15              188
CANCELLED                0
DIVERTED                 0
CRS_ELAPSED_TIME         0
ACTUAL_ELAPSED_TIME    188
DISTANCE                 0
dtype: int64

In [45]:
features = ["MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "ORIGIN", "DEST", "CRS_DEP_TIME", "ARR_DEL15"]
df=df[features]

In [46]:
df.head()

   MONTH  DAY_OF_MONTH  DAY_OF_WEEK ORIGIN DEST  CRS_DEP_TIME  ARR_DEL15
0      1             1            5    ATL  SEA          1905        0.0
1      1             1            5    DTW  MSP          1345        0.0
2      1             1            5    ATL  SEA           940        0.0
3      1             1            5    SEA  MSP           819        0.0
4      1             1            5    SEA  DTW          2300        0.0

In [47]:
df.isnull().sum()

MONTH             0
DAY_OF_MONTH      0
DAY_OF_WEEK       0
ORIGIN            0
DEST              0
CRS_DEP_TIME      0
ARR_DEL15       188
dtype: int64

In [48]:
df = df.fillna({'ARR_DEL15':1})

In [49]:
import math

In [50]:
for index, row in df.iterrows():
    df.loc[index, 'CRS_DEP_TIME'] = math.floor(row['CRS_DEP_TIME']/ 100)

In [51]:
df = pd.get_dummies(df, ['ORIGIN','DEST'])

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
train_x, test_x, train_y, test_y = train_test_split(df.drop('ARR_DEL15',axis = 1), df['ARR_DEL15'], test_size = 0.2, random_state = 42)

In [54]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=13)
model.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=13, verbose=0,
                       warm_start=False)

In [55]:
predicted = model.predict(test_x)
model.score(test_x, test_y)

0.8642634623943035

In [56]:
from sklearn.metrics import confusion_matrix
confusion_matrix(test_y, predicted)

array([[1903,   33],
       [ 272,   39]])

In [57]:
confusion_matrix(predicted,test_y)

array([[1903,  272],
       [  33,   39]])

In [60]:
predicted

array([0., 0., 0., ..., 0., 0., 0.])

2247